[Desktop Entry]
Categories=Utility;System
Comment[en_US]=Right click a file or a folder and 'open with' memorize to load it into memory (RAM) for faster access
Comment=Right click a file or a folder and 'open with' memorize to load it into memory (RAM) for faster access
Exec=if [ -z "%f" ] ; then echo 'Right click a file or a folder and open with memorize to load it into memory (RAM) for faster access' ; read line ; else echo Loading %f ; vmtouch -t -f %f ; sleep 5s ; fi
GenericName[en_US]=Load files and folders into memory (RAM) for faster access
GenericName=Load files and folders into memory (RAM) for faster access
Icon=speedometer
MimeType=inode/directory;
Name[en_US]=memorize
Name=memorize
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
